<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<body>
<div th:fragment="condominium_modal">
<h1>Add new condominium!</h1>
<form action="#" th:action="@{'/user/'+'${companyId}'+'/condominiums/add'}" th:object="${condominiumDTO}" th:modelAttribute="condominiumDTO" method="post">
    <p>Name: <input type="text" th:field="*{name}"/></p>
    <span style="color: red; "><p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p></span>
    <p>Topographical Number: <input type="text" th:field="*{topographicalNumber}"/></p>
    <span style="color: red; "><p th:if="${#fields.hasErrors('topographicalNumber')}" th:errors="*{topographicalNumber}"></p></span>
    <p>------------------------------------------------</p>
    <p>Parcelnumber: <input type="text" th:field="*{parcelNumber}"/></p>
    <span style="color: red; "><p th:if="${#fields.hasErrors('parcelNumber')}" th:errors="*{parcelNumber}"></p></span>
    <p>Contracting Date: <input type="text" th:field="*{contractingDate}"/></p>
    <span style="color: red; "><p th:if="${#fields.hasErrors('contractingDate')}" th:errors="*{contractingDate}"></p></span>
    <p>General Meeting Resolution Date: <input type="text" th:field="*{generalMeetingDate}"/></p>
    <span style="color: red; "><p th:if="${#fields.hasErrors('generalMeetingDate')}" th:errors="*{generalMeetingDate}"></p></span>
    <p>------------------------------------------------</p>
    <p>Country: <input type="text" th:field="*{country}"/></p>
    <span style="color: red; "><p th:if="${#fields.hasErrors('country')}" th:errors="*{country}"></p></span>
    <p>Zip code: <input type="text" th:field="*{zipCode}"/></p>
    <span style="color: red; "><p th:if="${#fields.hasErrors('zipCode')}" th:errors="*{zipCode}"></p></span>
    <p>City: <input type="text" th:field="*{city}"/></p>
    <span style="color: red; "><p th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></p></span>
    <p>Address1: <input type="text" th:field="*{addressLine1}"/></p>
    <span style="color: red; "><p th:if="${#fields.hasErrors('addressLine1')}" th:errors="*{addressLine1}"></p></span>
    <p>Address2: <input type="text" th:field="*{addressLine2}"/></p>
    <p>------------------------------------------------</p>
    <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
</form>
</div>
</body>
</html>
