<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>

    <title>Profile || Condominium</title>
</head>
<body>
<div th:if="${condominium.getName()}">
<h1 th:text="${condominium.getName()}"></h1>
</div>
<h1>Condominium</h1>
<p th:text="${condominium.getAddress().getCountry()}"></p>
<p th:text="${condominium.getAddress().getZipCode()}"></p>
<p th:text="${condominium.getAddress().getCity()}"></p>
<p th:text="${condominium.getAddress().getAddressLine1()}"></p>
<p th:text="${condominium.getAddress().getAddressLine2()}"></p>
<p th:text="${condominium.getTopographicalNumber()}"></p>
<p th:text="${condominium.getParcelNumber()}"></p>
<p th:text="${#dates.format(condominium.getContractingDate(), 'yyyy-MMM-dd')}"></p>
<p th:text="${#dates.format(condominium.getGeneralMeetingResolutionDate(), 'yyyy-MMM-dd')}"></p>
</body>
</html>