.lighten-5 {
    width: 40%;
    margin: auto;
    padding: 10px;
    z-index: 9000;
    text-align: center;
    word-break: break-all;

}

.closebutton {
    background: none;
    border: none;

}

html {
    font-size: 12px;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

body {
    background-color: #ECECEA;
}

nav {
    background-color: #74AFAD;
}

footer.page-footer {
    background-color: #D9853B;
}

blockquote {
    border-left-color: #FFFFFF;
}

#new_account {
    color: #FFFFFF;
}

#login_header {
    color: #74AFAD;
}

#login_button {
    background-color: #D9853B;
}

#forgot_password {
    color: #8D8582;
}

#signup_button, .signup {
    background-color: #D9853B;
}

.outer {
    width: 40%;
}

.signupform {
    background-color: #74AFAD;
}

.signup_header {
    color: #ECECEA;
}

.signupf {
    background-color: #ECECEA;
    padding: 32px 48px 0px 48px;
    border: 1px solid #EEE;
    border-radius: 5px;
}

.steps {
    border-radius: 10px;
}

.tab-selected {
    background-color: #84bd3e;
    color: white;
}

#backandnext {
    padding-bottom: 5px;
}

.input-field input[type=date]:focus + label,
.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus + label,
.input-field input[type=password]:focus + label {
    color: #D9853B;
}

.input-field input[type=date]:focus,
.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus {
    border-bottom: 2px solid #D9853B;
    box-shadow: none;
}