<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="admin_fragments :: head">
</head>
<body>
<div th:replace="admin_fragments :: navbar">
</div>
<div class="page-content">
    <div th:include="admin_fragments :: menu">
    </div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-10">
                <div class="content-box-large">
                    <div class="panel-heading">
                        <div class="panel-title">Company list</div>
                    </div>
                    <div class="panel-body">
                        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="companies_table">
                            <thead>
                            <tr>
                                <th>Company name</th>
                                <th>CEO</th>
                                <th>Registered</th>
                                <th>Updated</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="odd gradeX">
                                <td>Malacka kft.</td>
                                <td>Malacka ur</td>
                                <td>2017.01.01</td>
                                <td>2017.02.01</td>
                                <td class="center">ACCEPTED</td>
                            </tr>
                            <tr class="even gradeC">
                                <td>Trident bt.</td>
                                <td>Kovacs Janos</td>
                                <td>2017.01.09</td>
                                <td>2017.02.02</td>
                                <td class="center">PENDING</td>
                            </tr>
                            <tr class="even gradeC">
                                <td>Tridd kft.</td>
                                <td>Kovacs Janos</td>
                                <td>2017.01.09</td>
                                <td>2017.02.02</td>
                                <td class="center">PENDING</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- custom js -->
    <script th:src="@{js/custom.js}"></script>

</body>
</html>