<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head th:replace="meta :: meta">
</head>

<body>

<header>
    <div th:if="${message_error}" class="card red lighten-5">
        <div class="card-content red-text">
            <p th:text="${message_error}"></p>
        </div>
    </div>
    <div th:if="${message_success}" class="card green lighten-5">
        <div class="card-content green-text">
            <p th:text="${message_success}"></p>
        </div>
    </div>

    <div th:replace="navbar :: navbar_home"></div>
</header>
<main class="valign-wrapper">
    <span class="container text-lighten-1 ">
      <p class="flow-text">Welcome to</p>
      <h1 class="title grey-text">HCCRM</h1>
      <blockquote class="flow-text">A system which helps you to manage your condominiums.<br/>
      Don't hesitate! Get your trial version now!</blockquote>
    </span>
</main>

<div th:replace="footer :: footer_home"></div>

</body>
</html>