<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:fragment="meta">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css"/>
    <link th:href="@{/css/login.css}" href="/static/css/login.css" rel="stylesheet" type="text/css"/>
</head>
<body>
</body>
</html>