<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <title>Register Company</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<h1>Register Company</h1>
<form action="#" th:action="@{/user/registration_company}" th:object="${company}" th:modelAttribute="company" method="post">
    <p>Company name: <input type="text" th:field="*{companyName}" /></p>
    <p>Premise: <input type="text" th:field="*{premise}" /></p>
    <p>Tax number: <input type="text" th:field="*{taxNumber}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>

</html>