<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <title>Sign up || HCCRM</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>
<h1>Create a new account!</h1>
<p th:text="${error}"></p>
<form action="#" th:action="@{/signup}" th:object="${signupForm}" th:modelAttribute="signupForm" method="post">
    <p>First name: <input type="text" th:field="*{firstName}"/></p>
    <span style="color: red; "><p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p></span>
    <p>Last name: <input type="text" th:field="*{lastName}"/></p>
    <span style="color: red; "><p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p></span>
    <p>------------------------------------------------</p>
    <p>Company name: <input type="text" th:field="*{companyName}"/></p>
    <span style="color: red; "><p th:if="${#fields.hasErrors('companyName')}" th:errors="*{companyName}"></p></span>
    <p>Premise: <input type="text" th:field="*{premise}"/></p>
    <span style="color: red; "><p th:if="${#fields.hasErrors('premise')}" th:errors="*{premise}"></p></span>
    <p>------------------------------------------------</p>
    <p>Country: <input type="text" th:field="*{country}"/></p>
    <span style="color: red; "><p th:if="${#fields.hasErrors('country')}" th:errors="*{country}"></p></span>
    <p>Zip code: <input type="text" th:field="*{zipCode}"/></p>
    <span style="color: red; "><p th:if="${#fields.hasErrors('zipCode')}" th:errors="*{zipCode}"></p></span>
    <p>City: <input type="text" th:field="*{city}"/></p>
    <span style="color: red; "><p th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></p></span>
    <p>Address1: <input type="text" th:field="*{addressLine1}"/></p>
    <span style="color: red; "><p th:if="${#fields.hasErrors('addressLine1')}" th:errors="*{addressLine1}"></p></span>
    <p>Address2: <input type="text" th:field="*{addressLine2}"/></p>
    <p>------------------------------------------------</p>
    <p>Tax number: <input type="text" th:field="*{taxNumber}"/></p>
    <span style="color: red; "><p th:if="${#fields.hasErrors('taxNumber')}" th:errors="*{taxNumber}"></p></span>
    <p>------------------------------------------------</p>
    <p>E-mail: <input type="text" th:field="*{email}"/></p>
    <span style="color: red; "><p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p></span>
    <p>Phone number: <input type="text" th:field="*{phoneNumber}"/></p>
    <span style="color: red; "><p th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></p></span>
    <p>Password: <input type="password" th:field="*{password}"/></p>
    <span style="color: red; "><p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p></span>
    <p>Confirm password: <input type="password" th:field="*{matchingPassword}"/></p>
    <span style="color: red; "><p th:if="${#fields.hasErrors('matchingPassword')}" th:errors="*{matchingPassword}"></p>
    <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p></span>
</form>
</body>
</html>