<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head th:replace="meta :: meta">
    <title>Sign up || HCCRM</title>
</head>

<body class="signupform">
<main>
    <div style="text-align: center;">
        <h2 id="signup_header">Create your account!</h2>
        <div class="section"></div>

        <div class="container outer">
        <div class="row rowtabs">
            <ul class="tabs tab-demo z-depth-1 steps">
                <li id="userinfo" class="tab col s3">User information
                </li>
                <li id="companyinfo" class="tab col s3">Company information
                </li>
                <li id="success" class="tab col s3">Success!
                </li>
            </ul>
        </div>
            <form class="col s12" action="#" th:action="@{/signup}" th:object="${signupForm}" th:modelAttribute="signupForm" method="post">
                <div th:replace="signup/signup_step1 :: step1"></div>
                <div th:replace="signup/signup_step2 :: step2"></div>
                <div th:replace="signup/signup_step3 :: step3"></div>
            </form>
        </div>
    </div>
</main>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
<script th:src="@{/js/signup/signup.js}"></script>


</body>
</html>